/*================================= BODY =================================*/
body
{
    margin: 0;
    padding: 0;
}

/*================================= HEADER =================================*/
header
{
    background-color: #000022;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

/*================================= NAV =================================*/
nav
{
    position: absolute;
    height: 0;
    visibility: hidden;
    top: 100%;
    width: 100%;
}

/*Navlinks*/
.navlink
{
    display: block;
    padding: 20px;
    color: #b9b9b9;
    text-transform: uppercase;
    text-decoration: none;
}
.navlink:hover
{
    color: white;
}

/*================================= NAV SMALL =================================*/
.nav-opened
{
    visibility: visible;
    display: flex;
    height: 100%;
    border-top: 1px solid hsl(0, 0%, 100%);
}

.nav-opened > ul
{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.nav-opened > ul > li
{
    border-bottom: 1px solid white;
    background-color: #000022;
}

.navlink-move:hover
{
    position: relative;
    animation-name: moveText;
    animation-duration: 0.3s;  
    animation-fill-mode: forwards;
}

@keyframes moveText 
{
    from {left: 0px;}
    to {left: 10px}
}

/*================================= NAV BIG =================================*/
.underline-animation 
{
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: rgb(62, 62, 73);
    transition: width 0.5s ease;
}
.navlink:hover .underline-animation
{
    width: 100%;
}
.active-navlink-decoration
{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(62, 62, 73);
}
.active-navlink
{
    color: white;
}

/*================================= MAIN =================================*/
main
{
    margin-top: 150px;
    height: 2000px;
}

/*================================= FOOTER =================================*/
footer
{
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #000022;
    align-items: center;
}

/*================================= RESPONSIVE DESIGN =================================*/
@media (min-width: 650px) 
{
    .navlink
    {
        padding: 0;
        margin-top: 5px;
        display: block;
        margin-left: 5%;
        margin-right: 15%;
        font-size: 12px;
        text-align: center;
    }

    nav
    {
        top: 0;
        height: 100%;
        visibility: visible;
        position: relative;
        display: flex;
        flex: 10;
        align-items: center;
        margin-left: 7%;       
    }

}

@media (min-width: 1024px) 
{
    .navlink
    {
        display: block;
        margin-left: 5%;
        margin-right: 20%;
        font-size: 20px;
    }

    nav
    {
        margin-left: 10%;  
    }
}

@media (min-width: 1440px) 
{
    
}